/*Centers the header text*/
h1 {
    text-align: center;
}

/*Styles the navigation bar*/
.navbar {
    /*Sets the navbar to a fixed position*/
    position: fixed;
    /*Positions the navbar at the top of the page*/
    top: 0;
    /*Makes the navbar the full width of the page*/
    width: 100%;
    /*Sets a background color for the navbar*/
    background-color: rgb(70, 70, 70);
    /*Hides the scrollbar when the content of an element is too big to fit in the specified area*/
    overflow: hidden;
}

/*Specifically targets the anchor links inside the navbar*/
.navbar a {
    float: left;
    display: block;
    color: lightgrey;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/*Adds a hover effect when the cursor is over the menu*/
.navbar a:hover {
    background: lightgray;
    color: black;
}

/*Adds a margin to the top of the page to avoid content overlay*/
body {
    margin-top: 60px;
}