/*Centers the header text*/
h1 {
    text-align: center;
}

/*Styles the p tag*/
p {
    text-align: center;
    font-size: 60px;
}

/*Gives the p tag a cool hover effect*/
p:hover {
    filter: blur(2px);
    transform: scale(1.5);
    color: red;
}