/*Centers the header text*/
h1 {
    text-align: center;
}

/*Sets the left and right margin to auto to center the image*/
.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

/*Makes the image into a block element and sets the width to fill the container*/
.image {
    display: block;
    width: 100%;
    height: auto;
}

/*Creates an overlay and sets the opacity to 0 to make it invisible until the hover effect is triggered*/
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: grey;
}

/*Triggers the overlay when the image is hovered over*/
.container:hover .overlay {
    opacity: 0.7;
}

/*Styles the text in the overlay*/
.text {
    color: white;
    font-size: 100px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
}