/*Centers the header text*/
h1 {
    text-align: center;
}

/*Sets the left and right margin to auto and makes the image into a block element to center it*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*Gives the image rounded edges*/
img {
    border-radius: 20px;
}

/*Creates a black and white filter and blur effect when hovering over the image*/
img:hover {
    filter: blur(2px) grayscale(100%);
}