/*Centers the header text*/
h1 {
    text-align: center;
}

/*Sets the left and right margin to auto to center the video*/
.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

/*Makes the video into a block element and sets the width to fill the container*/
video {
    display: block;
    width: 100%;
    height: auto;
}