/*Centers the header text*/
h1 {
    text-align: center;
}

/*Creates a container to hold the image and the text*/
.container {
    position: relative;
    text-align: center;
}

/*Styles and positions the text at the bottom-center of the image*/
.centered {
    position: absolute;
    right: 25%;
    left: 25%;
    bottom: 15px;
    color: white;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
}