/*Import link for the Roboto font from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

a {
    /*Displays anchor elements vertically on a new line; this was added so the drop down menu displays vertically and not horizontally on the screen*/
    display: block;
    /*Font from fonts.google.com*/
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

body {
    /*Font from fonts.google.com*/
    font-family: 'Roboto', sans-serif;
}

/*MODAL/LIGHTBOX CSS*/

.row>.column {
    padding: 0 8px;
}

.column {
    float: left;
    width: 24%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/*Styles the modal background*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/*Styles the modal content*/
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/*Styles the close button*/
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/*Sets up the lightbox to hide the slides by default*/
.mySlides {
    display: none;
}

/*Styles the next & previous buttons*/
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/*Positions the 'next' button to the right*/
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*Adds a black background color with a little bit see-through*/
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/*Styles the number text*/
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/*Styles the caption text*/
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.thumb {
    opacity: 0.6;
    width: 100%;
}

.active,
.thumb:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*CONTACT FORM CSS*/

/*Sets up the content within the div tag containing the ID contact to be centered on the webpage*/
#contact {
    display: block;
    margin-bottom: 70px;
}

form {
    /*This will display the form in a table format as rows and columns*/
    display: table;
    padding: 15px;
    /*The browser will automatically calculate margins to center the form on the screen*/
    margin-left: auto;
    margin-right: auto;
}

/*This will specifically target the input tags that are nested within the form tags*/
form input {
    /*Sets the width of the input fields*/
    width: 400px;
    /*Font from fonts.google.com*/
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: rgb(165, 165, 165);
    border: 2px solid rgb(165, 165, 165);
    border-radius: 5px;
    padding: 3px;
    margin: 10px 15px 10px 0px;
    /*Transitions back to light gray when a user clicks away from an input field*/
    transition: 0.3s ease-out;
}

form input:focus {
    border: 2px solid rgb(255, 0, 0);
    color: black;
    outline: none;
    /*Removes default border added when the focus pseudo class is triggered*/
    transition: 0.3 ease-out;
}

label {
    /*Font from fonts.google.com*/
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

textarea {
    width: 98.5%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    /*Will allow the user to resize the text area both in width and height*/
    resize: both;
    border: 3px solid rgb(165, 165, 165);
    border-radius: 5px;
    /*Font from fonts.google.com*/
    font-family: 'Roboto', sans-serif;
    color: rgb(165, 165, 165);
    font-size: 15px;
    /*Will transition back to light gray*/
    transition: 0.3s ease-out;
}

textarea:focus {
    color: black;
    border: 3px solid rgb(255, 0, 0);
    transition: 0.3s ease-out;
    outline: none;
}

input[type="submit"] {
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 35px;
    /*Font from fonts.google.com*/
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 25px;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
    /*Positions the submit button to the bottom right of the form*/
    float: right;
}

input[type="submit"]:hover {
    background-color: rgb(192, 0, 0);
}