#menuBG {
    width: 600px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu {
    width: 600px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;
}

.column {
    width: 33.3%;
    height: 200px;
    float: left;
}


#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0;
    margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 40px;
}

body {
    background-color: #b61500;
}

h1 {
    font-family: Garamond, serif;
    color: #f57931;
    text-align: center;
}

h3 {
    font-family: Monaco, monospace;
    color: #ffac0e;
}

div {
    font-family: Verdana, sans-serif;
    color: #f3c681;
}